$primary-color: #fdfaf5;
$secondary-color: #2e363b;
$buttoncolor: #f2e9df;
$buttonwidth: 305px;
$buttonheight: 48px;
$yellow: #e7c375;
$lightblue: #b5c5db;
$darkblue: #7c8ea6;
$beige: #f2e9df;
$darkest: #141e26;

* {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  background-color: $buttoncolor;
  color: $secondary-color;
  width: $buttonwidth;
  height: $buttonheight;
  border: none;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
}

main {
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 25px;
  background-color: $primary-color;
  padding: 30px;
}

#serving_sec {
  grid-column: 1 / 4;
  grid-row: 1 / 10;
  background-color: $yellow;
  height: 60vh;
  overflow: hidden;
}
#bartenders_sec {
  grid-column: 1 / 4;
  grid-row: 10 / 20;
  background-color: $lightblue;
}
#favorite_sec {
  grid-column: 4 / 7;
  grid-row: 1 / 20;
  background-color: $beige;
}
#people_sec {
  grid-column: 7 / 10;
  grid-row: 1 / 9;
  background-color: $darkblue;
  overflow: hidden;
}

#picture_sec {
  background-color: $secondary-color;
  grid-column: 7 / 10;
  grid-row: 9/20;
  // background-image: url("/img/sharedpic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
}

#logo_sec {
  grid-column: 10 / 11;
  grid-row: 1 / 20;
  background-color: $darkest;
}

.logo {
  font-family: fino-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#logo_sec {
  grid-column: 10 / 11;
  grid-row: 1 / 20;
  overflow: hidden;
  background-color: $darkest;
}

// SERVING

.serving_h1 {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 4.5em;
  padding-left: 80px;
}
.numbers {
  display: flex;
  justify-content: center;
}
.being_served {
  height: 16vh;
  width: 6.5vw;
  background-color: $primary-color;
  box-shadow: 3px 3px 11px 4px rgba(84, 84, 84, 0.63);
  border-radius: 10px;
  margin: 10px;
  font-size: 2.5em;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 2vw;
}

#liste {
  display: flex;
  justify-content: center;
}

#liste2 {
  margin-top: 3.5vw;
  display: flex;
  justify-content: center;
}

#liste3 {
  display: flex;
  justify-content: center;
}

.small_numbers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 9vw;
}

.being_prepared {
  height: 10vh;
  width: 4vw;
  background-color: $primary-color;
  box-shadow: 3px 3px 11px 4px rgba(84, 84, 84, 0.63);
  border-radius: 10px;
  margin: 15px;
  margin-bottom: 1vw;
  font-size: 1.5em;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 1vw;
}

.small_con {
  display: flex;
}

main .prepared_h2 {
  padding-left: 5vw;
  color: white;
  font-size: 2.2em;
  position: fixed;
}

// BARTENDERS

.bartender_pic {
  height: 8vh;
  width: 4.5vw;
  border-radius: 50%;
}

.bartender_status {
  height: 2vh;
  width: 1vw;
  border-radius: 50%;
  // background-color: red;
  margin-left: 3.5vw;
}

.article_bartenders {
  padding: 25px;
}

.bartender_name {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}
// FAVORITE

.favorite_name {
  margin-top: 13vh;
  text-align: center;
}

.favorite_text {
  font-size: 1.1em;
  margin-left: 40px;
  width: 20vw;
  text-align: center;
}

.favorite_text {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

@mixin h2font() {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

h2 {
  @include h2font();
}

h3 {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 5em;
}

.fave_headline {
  height: 5vh;
  padding-top: 5vh;
}

@mixin h4font() {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}

h4 {
  @include h4font();
}

.fave_top {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.beer_img {
  margin-top: 6vh;
  margin-left: 3vw;
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/beer1.svg");
  display: block;
}

.people_svg img {
  height: 6vh;
  width: 2vw;
  color: white;
  margin: 5px;
}

.people_svg {
  margin: 10px;
  display: flex;
  justify-content: center;
  stroke: white;
}

.people_h2 {
  display: flex;
  justify-content: center;
  color: $primary-color;
}

.bartender_h2 {
  padding-left: 3vw;
}

// LOGO

.logo_h1 {
  position: relative;
  font-size: 2.5em;
  color: white;
  font-family: fino-sans, sans-serif;
  animation-name: logo;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: inherit;
  position: relative;
  transform: rotate(90deg);
  max-width: 3vw;
}

.logo_2 {
  font-size: 2.5em;
  color: white;
  font-family: fino-sans, sans-serif;
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: inherit;

  animation-timing-function: linear;
  position: relative;
  transform: rotate(90deg);
  max-width: 3vw;
  margin-top: 15vw;
}

.logo_3 {
  font-size: 2.5em;
  color: white;
  font-family: fino-sans, sans-serif;
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  transform: rotate(90deg);
  max-width: 3vw;
  margin-top: 15vw;
}

@keyframes logo {
  0% {
    top: -110vh;
  }

  100% {
    top: 90vh;
  }
}

@keyframes logo2 {
  0% {
    top: -30vh;
  }

  100% {
    top: 50vh;
  }
}

.database_img {
  position: relative;
  left: 2.8vw;
  width: 20vw;
  height: 100%;
}

// body {
//   background-color: $primary-color;
// }

// main {
//   margin-left: 20px;
//   margin-right: 20px;
// }
// header {
//   height: 8vh;
//   background-color: #2e363b;
// }

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 100px 100px;
  }
}

// IPAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #serving_sec {
    grid-column: 1/10;
    grid-row: 1/10;
    padding: 25px;
  }

  #bartenders_sec {
    grid-column: 1/10;
    grid-row: 10/20;
    overflow: hidden;
  }

  #favorite_sec {
    grid-column: 1/6;
    grid-row: 25/20;
  }

  #people_sec {
    grid-column: 6/10;
    grid-row: 25/23;
    overflow: hidden;
  }

  #picture_sec {
    grid-column: 6/10;
    grid-row: 20/23;
    background-color: #e7c375;
  }

  #logo_sec {
    grid-column: 10/11;
    grid-row: 1/25;
  }

  #liste {
    justify-content: start;
    margin-left: 5vw;
  }

  .bartender_pic {
    width: 10vw;
  }

  .bartender_status {
    width: 2.5vw;
    margin-left: 8vw;
  }

  #liste2 {
    margin-top: 2vh;
    justify-content: left;
    margin-left: 4vw;
  }

  .serving_h1 {
    padding-left: 5vw;
  }

  .bartender_h2 {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-top: 1vw;
  }

  .being_served {
    height: 18vh;
    width: 15vw;
    background-color: $primary-color;
    box-shadow: 3px 3px 11px 4px rgba(84, 84, 84, 0.63);
    border-radius: 10px;
    margin: 10px;
    font-size: 2.5em;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 5vh;
  }

  main .prepared_h2 {
    padding-top: 3vh;
    position: relative;
  }

  .being_prepared {
    height: 12vh;
    width: 12vw;
    background-color: $primary-color;
    box-shadow: 3px 3px 11px 4px rgba(84, 84, 84, 0.63);
    border-radius: 10px;
    margin: 10px;
    font-size: 2.5em;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 2vh;
  }

  .logo_h1 {
    position: relative;
    font-size: 2.5em;
    color: white;
    font-family: fino-sans, sans-serif;
    animation-name: logo;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: inherit;
    position: relative;
    transform: rotate(90deg);
    max-width: 5vw;
  }

  .logo_2 {
    font-size: 2.5em;
    color: white;
    font-family: fino-sans, sans-serif;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: inherit;

    animation-timing-function: linear;
    position: relative;
    transform: rotate(90deg);
    max-width: 5vw;
    margin-top: 40vw;
  }

  .logo_3 {
    font-size: 2.5em;
    color: white;
    font-family: fino-sans, sans-serif;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    transform: rotate(90deg);
    max-width: 5vw;
    margin-top: 40vw;
  }

  .favorite_text {
    max-width: 49vw;
    padding: 25px;
    padding-top: 0;
    font-size: 1.3em;
    position: relative;
    left: -5vw;
    padding: 0;
  }
  .fave_bottom {
    text-align: center;
    padding-bottom: 5vh;
  }

  .people_svg img {
    height: 10vh;
    width: 5vw;
  }

  .favorite_name {
    margin-top: 5vh;
  }

  #logo_sec {
    overflow: hidden;
  }

  .database_img {
    left: 0;
    top: 0;
    width: 40vw;
    height: 62vh;
  }

  .favorite_text {
    font-size: 1.1em;
    margin-left: 2px;
    /* width: 20vw; */
    text-align: center;
    width: 100%;
    left: 0;
  }
}

/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .database_img {
    width: 40vw;
    height: 51vh;
    left: 0;
  }

  .article_bartenders {
    padding-top: 0;
  }

  .beer_img {
    margin-left: 0;
  }

  .favorite_text {
    padding: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  main {
    grid-gap: 10px;
    padding: 15px;
  }

  #favorite_sec {
    grid-column: 1/10;
    grid-row: 25/20;
  }

  #serving_sec {
    grid-column: 1/10;
    grid-row: 1/10;
    padding: 10px;
  }

  #bartenders_sec {
    grid-column: 1/10;
    grid-row: 10/20;
  }

  #people_sec {
    grid-column: 1/10;
    grid-row: 35/40;
    overflow: hidden;
    height: 30vh;
  }

  #picture_sec {
    grid-column: 1/10;
    grid-row: 25/35;
    height: 35vh;
  }

  .people_svg img {
    height: 20vh;
    width: 10vw;
  }

  #logo_sec {
    display: none;
  }

  h4 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 5.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  .beer_img {
    margin-left: 43px;
  }

  #liste {
    justify-content: start;
    margin-left: 4vw;
  }

  .favorite_text {
    width: 70vw;
    padding-bottom: 5vh;
    max-width: 100%;
    font-size: 1em;
    padding-top: 0;
  }

  .fave_bottom {
    text-align: center;
    padding-top: 5vh;
  }

  #liste2 {
    margin-top: 2vh;
    justify-content: left;
    margin-left: 4vw;
  }

  .serving_h1 {
    text-align: center;
    font-size: 2.5em;
    text-align: start;
    padding-left: 5vw;
  }

  .bartender_h2 {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-top: 1vw;
    font-size: 2em;
  }

  .bartender_status {
    width: 3vw;
  }

  .bartender_pic {
    width: 12vw;
  }
  .database_img {
    height: 35vh;
    width: 92vw;
    left: 0;
  }
  .being_served {
    height: 15vh;
    width: 18vw;
    background-color: $primary-color;
    box-shadow: 3px 3px 11px 4px rgba(84, 84, 84, 0.63);
    border-radius: 10px;
    margin: 10px;
    font-size: 2.5em;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 5vh;
    font-size: 1.5em;
  }

  main .prepared_h2 {
    padding-top: 3vh;
    position: relative;
    font-size: 2em;
  }

  .being_prepared {
    height: 9vh;
    width: 12vw;
    background-color: $primary-color;
    box-shadow: 3px 3px 11px 4px rgba(84, 84, 84, 0.63);
    border-radius: 10px;
    margin: 10px;
    font-size: 1em;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 2vh;
  }

  .logo_h1 {
    position: relative;
    font-size: 1.8em;
    color: white;
    font-family: fino-sans, sans-serif;
    animation-name: logo;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: inherit;
    position: relative;
    transform: rotate(90deg);
    max-width: 5vw;
  }

  .logo_2 {
    font-size: 1.8em;
    color: white;
    font-family: fino-sans, sans-serif;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: inherit;

    animation-timing-function: linear;
    position: relative;
    transform: rotate(90deg);
    max-width: 5vw;
    margin-top: 30vw;
  }

  .logo_3 {
    font-size: 1.8em;
    color: white;
    font-family: fino-sans, sans-serif;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    transform: rotate(90deg);
    max-width: 5vw;
    margin-top: 30vw;
  }
}

@media only screen and (min-width: 1100px) {
  .favorite_text {
    margin-left: 65px;
  }
}
